<!-- <div class="meal-entry" *ngIf="!userFeed || userFeed.length == 0">
  <div class="header">Just now</div>
  <div class="content">No entries! Everyone is starving apparantly :|</div>
</div> -->

<div class="meal-entry">
  <div class="header">
    <span class="username">{{mealEntry?.ent_username}}</span>
    <span class="timestamp">{{ getTimeStamp(mealEntry?.ent_date) }} ago</span>
  </div>
  <!-- <img src="{{ mealEntry?.food_pics[0] }}" *ngIf="mealEntry?.food_pics[0]"/> -->
  <div class="content">

    <div class="about">
      <ion-icon name="restaurant"></ion-icon>
    </div>

    <div class="foods">
      <span>{{ getMealDescription() }}</span>
    </div>
  </div>
</div>
