page-feed {
  .btn-post {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  #foodheader {
    background-color: $color-primary;
    color: $color-primary;
    position: relative;
    width: 100%;
    margin-top: 0;
    height: 75px;
  }

}
